:root {
  --website-bg-color: rgb(30, 30, 30);

  --primary-bg-color: rgb(50, 50, 50);

  --tooltip-background-color: white;

  --color-primary: white;
  --color-secondary: black;
  --color-red: rgb(255, 119, 119);
  --color-blue: rgb(41, 136, 244);;

  --paragraph-font-size: 1.25rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p,
a,
span,
li {
  font-size: 1.1rem;
}

.app-root {
  min-height: 100vh;

  color: var(--color-primary);
  font-family: "Roboto", sans-serif;
  background-color: var(--website-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
