.headRoot {
  padding: 4rem 2rem;

  display: flex;
  justify-content: center;

  background-color: var(--color-red);
  color: var(--color-secondary);

  .headCenter {
    max-width: 75%;

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;

    .photo {
      margin-right: 2rem;

      border-radius: 50%;
      pointer-events: none;
    }

    .content {
      display: flex;
      flex-direction: column;

      .nameAndBadges {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        h1 {
          margin: 1rem 2rem 0 0;
        }

        .badges {
          margin-top: 1rem;

          display: flex;
          gap: 1.5rem;
        }
      }

      .typewriter {
        margin-top: 1rem;

        display: flex;

        span {
          font-size: var(--paragraph-font-size);
        }
      }
    }
  }
}

.sectionGroup {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: 1fr;
  justify-content: start;

  @media screen and (max-width: 1300px) {
    grid-template-columns: 1fr;
  }
}

.timeline {
  padding-left: 4rem;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  .timelineItem {
    padding: 1.5rem;

    position: relative;

    display: flex;
    flex-direction: column;

    background-color: var(--primary-bg-color);
    border: 0.2rem solid var(--color-red);
    border-radius: 5px;

    > p {
      margin-top: 0.5rem;

      display: flex;
      align-items: center;

      svg {
        margin-right: 0.5rem;
      }
    }

    .timelineItemContent {
      margin-top: 2rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        list-style: inside;
      }
    }

    &:first-of-type {
      margin-top: 1.5rem;
    }

    &::before {
      content: "";

      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: 0;
      left: -5.2rem;

      background-color: var(--color-red);
      border-radius: 50%;
    }
  }

  &::before {
    content: "";

    width: 0.5rem;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background-color: var(--color-red);
    border-radius: 5px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;

  span,
  a {
    padding: 0.5rem;

    display: flex;
    align-items: center;

    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: 5px;

    svg {
      margin-right: 0.5rem;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.skills {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  background-color: var(--primary-bg-color);
  border: 0.2rem solid var(--color-red);
  border-radius: 5px;

  h3 {
    margin: 0;
    font-size: 1.4rem;
  }

  p {
    margin: 1.25rem 0;

    line-height: 1.5;
    text-align: justify;
  }
}

@media screen and (max-width: 600px) {
  .headRoot .headCenter {
    max-width: none;
  }
}
