.badge {
  position: relative;

  cursor: pointer;

  .tooltip {
    width: max-content;
    padding: 0.5rem;
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  svg {
    font-size: 1.5rem;
  }

  &:hover .tooltip {
    left: 50%;
    transform: translateX(-50%);

    opacity: 1;
    transition: opacity 100ms ease-in;

    background-color: var(--tooltip-background-color);
    color: var(--color-secondary);
    font-size: 1rem;
    border-radius: 5px;
  }
}
