.footer {
  padding: 2rem;

  display: flex;
  justify-content: center;

  color: var(--color-secondary);
  background-color: var(--color-red);

  button {
    padding: 0;

    outline: none;
    border: none;

    background-color: transparent;

    font-size: 1.1rem;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.modalBody {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: 1fr;
  gap: 2rem;

  .modalSection {
    h2 {
      margin-bottom: 0.25rem;

      display: flex;
      align-items: center;

      font-size: 1.2rem;
      font-weight: normal;

      svg {
        margin-right: 0.5rem;
      }
    }

    a {
      color: var(--color-blue);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
