.modalRoot {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 0 100rem;

  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;

  .modal {
    margin: 4rem 2rem;

    min-width: 45rem;
    max-width: 60rem;

    border: 0.15rem solid var(--color-red);
    border-radius: 5px;

    background-color: var(--primary-bg-color);

    .head {
      padding: 0.5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: var(--color-red);

      h1, svg {
        font-size: 1.3rem;
        color: var(--color-secondary);
      }

      h1 {
        font-weight: normal;
      }

      svg {
        cursor: pointer;

        transition: transform 300ms;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .body {
      padding: 1rem;
    }
  }

  &.opened {
    opacity: 1;
    transform: scale(1);
  }
}
