.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sectionRoot {
  max-width: 75%;

  display: flex;
  flex-direction: column;
  align-self: center;

  > section:first-of-type {
    margin-top: 8rem;
  }

  > section:last-of-type {
    margin-bottom: 8rem;
  }

  .section {
    margin: 3rem 2rem;

    h1 {
      margin-bottom: 2rem;

      display: flex;
      align-items: center;

      svg {
        margin-right: 1rem;
        font-size: 2rem;
      }
    }
  }

  .textSection p {
    margin: 1.25rem 0;

    line-height: 1.5;
    text-align: justify;
    font-size: var(--paragraph-font-size);

    a {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 600px) {
  .sectionRoot {
    max-width: none;
  }
}
